.buttoncontainer
{
    width:860px;
    clear: both;
    margin: 20px auto 0 auto;
    padding: 14px;
    background: white;
    -webkit-box-shadow: 0 0 5px 1px rgba(100,100,100,.1);
    -moz-box-shadow: 0 0 5px 1px rgba(100,100,100,.1);
    box-shadow: 0 0 5px 1px rgba(100,100,100,.1);
    border: 1px solid #DADADA;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.btnshowcasevideo
{
    clear:both;
    margin-top:45px;
    text-align:center;
}

.btnshowcasevideo .showcasetitle
{
    font-size:18px;
    font-weight:bold;
    text-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 0px;
    padding-bottom:20px;
}

.welcome
{
    width:940px;
    margin:10px auto;
    overflow:auto;
}

.welcome .logo
{
    text-align:center;
    width:300px;
    margin:0 auto;
    overflow:auto;
}

.welcome .logo img
{
    border:none;
}

.btnshowcasecontainer
{
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background:#f8f8f8;
    border:1px solid #e0e0e0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.btnshowcasecontainer img
{
    margin:10px 0;
}

.btnshowcasecontainer i
{
    padding: 5px;
    font-size: 22px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    color: #555;
    padding: 10px;
    margin-top:10px;
    font-family: 'Rancho',cursive;
}

.buttoncontainer .steps
{
    font-size:14px;
    font-weight:normal;
    margin:20px 0;
    color:#606060;
    text-shadow: 0 1px 0 #e0e0e0;
}

.buttoncontainer .steps ol
{
}

.buttoncontainer .steps ol li
{
    font-size:14px;
    padding:5px;
}