<div class="viewclip" id="bookmarklethowto" style="width: 720px; overflow: auto;">
    <div class="clipcontainer">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/8nR8DgoEtIA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="clipbtns">
        <div class="mainbtns">
            <a href="/button" class="btnredstyle">Get the Pipfly Bookmarklet</a>
        </div>
    </div>
</div>
