.privacysect
{
    width:680px;
    float:left;
    font-size:14px;
    display:block;
    margin:0 20px 30px 40px;
    text-align:left;
}

.privacysect a, .privacysect a:hover, .privacysect a:visited, .privacysect a:active
{
    font-size:14px;
}

.privacysect .heading
{
    font-size:23px;
    color:#666;
    font-weight:bold;
    padding:15px 0 15px 0;
    text-align:left;
}

.privacysect .privacytitle
{
    font-size:18px;
    font-weight:bold;
    color:#666;
    padding:30px 0px 30px 0px;
}

.privacysect p
{
    line-height:22px;
}

.privacysect ul li
{
    margin-left:20px;
    padding:3px 0px;
    display:list-item;
    list-style-type:square;
    line-height:22px;
}

.privacysect ul li ul li
{
    padding:3px 0px;
    display:list-item;
    list-style-type:circle;
    line-height:22px;
}