<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbConnectionString" value="data source=rainforest.dynalias.net; initial catalog=rainforest_db; user id=sa; password=-rainforest-;" />
		<add key="urlToExtractJobKeyword" value=":JOB_ID:" />
	</appSettings>	
</configuration>