.viewclip
{
    clear:both;
    display:block;
    overflow:hidden;
    width:920px;
    margin:30px auto 0 auto;
    padding:0;
    background:#fff;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
    box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.1);
    border: 1px solid #DADADA;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.viewclip .sectiontitle
{
    padding:0;
}

.viewclip .clipcontainer, .viewclip .clipdetails
{
    clear:both;
    display:block;
    overflow:auto;
    position:relative;
}

.viewclip .clipcontainer
{
    text-align:center;
    padding:10px;
    width:900px;
    background:#f8f8f8;
    overflow:hidden;
    border-bottom:1px solid #e0e0e0;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

.viewclip .clipbtns
{
    clear:both;
    display:block;
    overflow:auto;
    padding:5px 10px;
    position:relative;
    height:23px;
    background:#f8f8f8;
    border-top:1px solid #fff;
    border-bottom:1px solid #e0e0e0;
    margin-bottom:20px;
    text-align:center;
}

.viewclip .clipbtns .mainbtns
{
    position:absolute;
    left:10px;
    top:5px;
}

.viewclip .clipbtns .source
{
    position:absolute;
    right:10px;
    top:5px;
    padding:0;
    line-height:20px;
    font-size:12px;
}

.viewclip .clipbtns .source a, .viewclip .clipbtns .source a:visited, .viewclip .clipbtns .source a:active, .viewclip .clipbtns .source a:hover
{
    color:#707070;
    font-weight:bold;
}

.viewclip .clipdetails .clipleftpane
{
    display:block;
    float:left; 
    width:525px;
    margin:0 30px 0 10px;
    min-height:100px;  
}

.viewclip .clipdetails .cliprightpane
{
    display:block;
    float:left;
    width:240px;
    margin-left:5px;
    margin-right:10px;
}

.viewclip .cliprightpane .photovideoclippers
{
    clear:both;
    overflow:auto;
}

.viewclip .cliprightpane .photovideoclippers .photovideoclippersect
{
    padding:5px 0;
}


.viewclip .cliprightpane .photovideoclippers .photovideoclippersect .photovideoclippercollage
{
    position:relative;
    width:100%;
    padding-top:5px;
    overflow:auto;
}

.viewclip .cliprightpane .photovideoclippers .photovideoclippersect .photovideoclippercollage .photovideoclippersuserimg
{
    width:40px;
    height:40px;
    float:left;
    overflow:hidden;
    margin:2px;
}

.userwall .clipcommentpost
{
    margin-bottom:15px;
    background-color:#f6f6f6;
    border: 1px solid #d9d9d9;
    position:relative;
    overflow:visible;
}

.userwall #clipcommentpostinput
{
    width:440px;
    padding:4px;
    font-size:12px;
    line-height:13px;
    margin:0;
    background-color:#fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #e0e0e0;
    outline:none;
    line-height:normal;
    min-height:20px;
    height:20px;
    resize:none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.userwall .clipcommentpost .clipcommentpostbtns
{
    display:block;
    clear:both;
    border-top:1px solid #e0e0e0;
    text-align:right;
    padding:4px 5px;
}

.userwall .clipcommenttextareaarrow
{
    position:absolute;
    top:-7px;
    left:20px;
    display:block;
    height:7px;
    width:8px;
    z-index:99;
    background: url('/images/sitetheme/textarea_arrow_shaded.png') no-repeat center top;
}

.viewclip .clipbtns .btnstyle, .viewclip .clipbtns .btnstyle:visited, .viewclip .clipbtns .btnstyle:hover, .viewclip .clipbtns .btnstyle:active, .viewclip .clipbtns .btnstyle:link,
.viewclip .clipbtns .btnundo, .viewclip .clipbtns .btnundo:visited, .viewclip .clipbtns .btnundo:hover, .viewclip .clipbtns .btnundo:active, .viewclip .clipbtns .btnundo:link
{
    font-size:11px;
    padding:4px 4px;
    color:#555;
}

.viewclip .clipbtns .btnstyle:hover,
.viewclip .clipbtns .btnundo:hover
{
    color:#106fb8;
}

.viewclip .clipbtns .btnstyle img,
.viewclip .clipbtns .btnundo img
{
    position:relative;
    top:1px;
    margin:0 4px 0 0;
    height:10px;
}

.viewclip .cliptitletext
{
    font-size: 15px;
    font-weight: bold;
    color: #606060;
    text-shadow: 2px 2px 5px #DDD;
    text-align: left;
    padding:5px 0 0 0;
    margin:0;
    display: block;
    height: 18px;
    overflow: auto;
}

.userwall .wallpost .postcontent 
{
    width:380px;
    font-size:12px;
}

.userwall .wallpost .postuserimg
{
    width:50px;
}

#clipCommentsPostContainer
{
    width:510px;
    clear:both;
    background:#f6f6f6;
    border:1px solid #e0e0e0;
    padding:5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom:10px;
}

#clipCommentsPostContainer .userwall
{
    padding:0;
    margin:0;
}

#clipCommentsPostContainer .userwall .wallpost .postuserimg
{
    width:30px;
}

.userwall .walltitle
{
    padding:0;
}

.userwall .wallpost
{
    padding:5px;
}

.userwall .wallpost .postuserimg
{
    margin-bottom:5px;
}

#clipCommentsPostContainer .userwall .wallpost .postcontent 
{
    width:330px;
    font-size:12px;
}

#clipCommentsPostContainer .userwall .wallpost .postfooter
{
    padding-top:1px;
}

#clipCommentsPostContainer .postcommentinputboxfooter
{
    font-size:11px;
}